In [2]:
x,y=10,12

In [7]:
x = x + y
y = x - y
x = x - y

In [8]:
x,y

(12, 10)

<h1>Q2 Rectangle Area Calculation

In [13]:
length=float(input())
breadth=float(input())
Total_Area=float(length*breadth)

 100
 200

In [17]:
print("Total Area for the given Length and Breadth: ",Total_Area)

Total Area for the given Length and Breadth:  20000.0

<h1> Q3 temperatures from Celsius to Fahrenheit.

In [18]:
celsius=float(input())
fahrenheit=celsius*(9/5)+32
print("The Fahrenheit for the given Celsius is ",fahrenheit)

 100

The Fahrenheit for the given Celsius is  212.0

<h1> String Based Questions

<h2> Q1 string as input and prints the length of the string.

In [20]:
name=str(input())
len_name=len(name)
print("Lenght of the given input is ",len_name)

 my name is abishek

Lenght of the given input is  18

<h2>Q2 Vowels

In [27]:
data=str(input())
vowel_count = sum(data.count(vowel) for vowel in "aeiouAEIOU")
print("Total Number of vowels in the given sentences is ",vowel_count)

 my name is abishek

Total Number of vowels in the given sentences is  6

<h2>Q3 reverse the order

In [29]:
input_str=str(input())
input_str[::-1]

 My name is Abishek

'kehsibA si eman yM'

<h2> Q4 palindrome

In [34]:
input_str=str(input())
if(input_str[::-1].lower()==input_str[0:].lower()):
    print("It is a Palindrom")
else:
    print("It is not a Palindrom")

 nitin

It is a Palindrom

<h2> Q5 removes all the spaces

In [ ]:
user_input=str(input())

In [ ]:
after_space_replacement=user_input.replace(" ","")
print("After Replacing the spaces",after_space_replacement)
print("Before Replacing the spaces",user_input)

<h1> Respected Tutor,
    Since the kernel is not working properly, I am unable to excute the above code,
    So i have Succesfully executed the above code in google colab and attached the ipynb file in the same repository(file name:"Removes all the names")