In [1]:
import pandas as pd

In [2]:
pd=pd.read_csv(r"C:\Users\VOSTRO 16\Downloads\heart_failure_clinical_records_dataset.csv")

In [3]:
pd

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [4]:
pd.count()

age                         299
anaemia                     299
creatinine_phosphokinase    299
diabetes                    299
ejection_fraction           299
high_blood_pressure         299
platelets                   299
serum_creatinine            299
serum_sodium                299
sex                         299
smoking                     299
time                        299
DEATH_EVENT                 299
dtype: int64

In [5]:
pd.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [6]:
pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [7]:
pd.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [8]:
pd['age']=pd['age'].astype(int)

In [39]:
pd['age'].unique()

array([75, 55, 65, 50, 90, 60, 80, 62, 45, 49, 82, 87, 70, 48, 68, 53, 95,
       58, 94, 85, 69, 72, 51, 57, 42, 41, 67, 79, 59, 44, 63, 86, 66, 43,
       46, 61, 81, 52, 64, 40, 73, 77, 78, 54, 47, 56])

In [9]:
pd['age'].dtype

dtype('int32')

In [10]:
pd.columns[pd.dtypes=='float64']

Index(['platelets', 'serum_creatinine'], dtype='object')

In [11]:
pd['age'].unique()

array([75, 55, 65, 50, 90, 60, 80, 62, 45, 49, 82, 87, 70, 48, 68, 53, 95,
       58, 94, 85, 69, 72, 51, 57, 42, 41, 67, 79, 59, 44, 63, 86, 66, 43,
       46, 61, 81, 52, 64, 40, 73, 77, 78, 54, 47, 56])

In [12]:
pd['DEATH_EVENT'].unique()

array([1, 0], dtype=int64)

In [33]:
age = pd.loc[pd['DEATH_EVENT'] == 1, ['age']]

In [36]:
age.describe()

             age
count  96.000000
mean   65.208333
std    13.217147
min    42.000000
25%    55.000000
50%    65.000000
75%    75.000000
max    95.000000

In [52]:
total_count=pd['sex'].value_counts()

In [53]:
gender_percentage=(total_count/(total_count.sum()))*100

In [54]:
gender_percentage

sex
1    64.882943
0    35.117057
Name: count, dtype: float64

In [63]:
age_platelets = pd[['platelets', 'age']]

In [67]:
age_platelets_=age_platelets.value_counts()

In [68]:
age_platelets_percentage=(age_platelets_/age_platelets_.sum())*100

In [69]:
age_platelets_percentage

platelets  age
263358.03  65     1.003344
           55     1.003344
           75     1.003344
351000.00  70     0.668896
149000.00  80     0.668896
                    ...
231000.00  55     0.334448
           81     0.334448
232000.00  50     0.334448
233000.00  45     0.334448
850000.00  45     0.334448
Name: count, Length: 278, dtype: float64

In [72]:
cre_sod=pd[['creatinine_phosphokinase','serum_sodium']]

In [76]:
cre_sod.corr()

                          creatinine_phosphokinase  serum_sodium
creatinine_phosphokinase                   1.00000       0.05955
serum_sodium                               0.05955       1.00000

In [78]:
prevalence = pd.groupby('sex')['high_blood_pressure'].mean() * 100

In [79]:
prevalence

sex
0    41.904762
1    31.443299
Name: high_blood_pressure, dtype: float64

In [83]:
pd['smoking'].unique()

array([0, 1], dtype=int64)

In [86]:
pd.groupby('smoking')['DEATH_EVENT'].mean() * 100

smoking
0    32.512315
1    31.250000
Name: DEATH_EVENT, dtype: float64

In [87]:
pd.groupby('age')['DEATH_EVENT'].mean()

age
40    0.000000
41    0.000000
42    0.142857
43    0.000000
44    0.000000
45    0.315789
46    0.333333
47    0.000000
48    1.000000
49    0.250000
50    0.296296
51    0.250000
52    0.000000
53    0.100000
54    0.500000
55    0.176471
56    0.000000
57    0.500000
58    0.200000
59    0.750000
60    0.400000
61    0.000000
62    0.200000
63    0.000000
64    0.000000
65    0.307692
66    0.000000
67    0.000000
68    0.400000
69    0.666667
70    0.280000
72    0.714286
73    0.250000
75    0.545455
77    0.500000
78    0.000000
79    0.000000
80    0.714286
81    0.000000
82    1.000000
85    0.500000
86    1.000000
87    1.000000
90    0.666667
94    1.000000
95    1.000000
Name: DEATH_EVENT, dtype: float64

In [80]:
pd.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [88]:
pd.groupby('ejection_fraction')['diabetes'].mean()*100

ejection_fraction
14      0.000000
15     50.000000
17    100.000000
20     22.222222
25     38.888889
30     50.000000
35     44.897959
38     55.000000
40     35.135135
45     30.000000
50     28.571429
55    100.000000
60     45.161290
62     50.000000
65      0.000000
70      0.000000
80      0.000000
Name: diabetes, dtype: float64

In [89]:
cre_alive=pd.loc[pd['DEATH_EVENT'] == 1, ['creatinine_phosphokinase']]

In [93]:
cre_alive.describe()

       creatinine_phosphokinase
count                 96.000000
mean                 670.197917
std                 1316.580640
min                   23.000000
25%                  128.750000
50%                  259.000000
75%                  582.000000
max                 7861.000000